/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #8ad6ee;
}

h2 {
	color: #6161f5;
	text-align: center;
}

form{
	color: #02021b;
	text-align: center;
}

textarea {
	width: 25%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: both;
  }

  .button {
	background-color: #1c0638;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 25%;
  }

  .espacador{
	color: #ffffff;
}

#menu {
	background: #006699;
	padding: 18px;
}

#consultado{
	visibility: hidden;
	text-align: center;
}

h1 {
	color: #006699;
	font-size: 1.2em;
}

hr{
	color: #a6c0d9;
}

a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.75em;
	padding: 5px;
}




